<!-- depositions -->
<ui-carousel class="carousel-main" #uiCarousel [autoPlay]="false" height="391px" slides="ctrl.multiple.slides" slides-to-show="3" slides-to-scroll="3" dots="true">
  <ui-carousel-item >
    <img src="../../../assets/media/carrossel 2.png" alt="">
  </ui-carousel-item>
  <ui-carousel-item>
    <img src="../../../assets/media/carrossel2.png" alt="">
  </ui-carousel-item>
</ui-carousel>

<ui-carousel slides="ctrl.multiple.slides" slides-to-show="3" slides-to-scroll="3" dots="false" [infinite]="false">
  <ui-carousel-item *ngFor="let item of items">
      <img [ui-lazy-load]="item.name">
  </ui-carousel-item>
</ui-carousel>


<section class="depoiment">
  <p>{{lang.depositions}}</p>
  <hr>
  <div class="container-depoiment">
    <div class="box">

      <img src="../../../assets/media/rafael.jpeg" alt="">

      <h3>{{lang.rafael}}</h3>
      <p>{{lang.depositionsRafael}}</p>
    </div>


    <div class="box">

      <img src="../../../assets/media/felipe.jpg" alt="">

      <h3>{{lang.felipe}}</h3>
      <p>{{lang.depositionsFelipe}}</p>

    </div>


    <div class="box">

      <img src="../../../assets/media/alan.jpeg" alt="">

      <h3>{{lang.alan}}</h3>
      <p>{{lang.depositionsAlan}}</p>

    </div>
  </div>
</section>


<!-- fast acess -->

<section class="fast-acess">
  <h1 class="">ACESSO RAPIDO</h1>
  <hr>
  <div class="container-fastAcess">
    <div class="box">

      <img src="../../../assets/media/box.png" alt="">

      <h3>PRODUTOS</h3>
      <p>Temos uma grande variedade em peças, óleos e baterias para seu veiculo. Venha conhecer.</p>

      <button class="produtos btn btn-outline-success">Ler mais</button>

    </div>


    <div class="box">

      <img src="../../../assets/media/phone.png" alt="">

      <h3>CONTATO</h3>
      <p>Tem alguma dúvida, entre em contato conosco. Temos uma equipe para lhe auxiliar.</p>

      <button class="btn btn-outline-success">Ler mais</button>
    </div>


    <div class="box">

      <img src="../../../assets/media/team.png" alt="">

      <h3>NOSSA HISTORIA
      </h3>
      <p>Conheça um pouco mais da nossa empresa e encontre a unidade mais próxima de você.</p>

      <button class="btn btn-outline-success">Ler mais</button>
    </div>
  </div>
</section>
