@import '../../theme/colors.scss';

// carousel

.carousel-main {
  img {
    //     background-position: center;
    //     background-size: cover;
    //     width: 100%;
    //     height: 100%;
    width: 100%;
    height: 391px;
  }
}

// depositions

.depoiment {
  text-align: center;

  p {
    margin: $marginTitle;
    font-size: 30px;
  }

  hr {
    width: 35%;
    height: 2px;
    margin: 0px 41% 0px 33%;
    background-color: $colorPrimary;
  }

  .container-depoiment {

    text-align: center;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33% minmax(575px, 300px);
    margin: 27px 0px;


    .box {

      img {
        width: 130px;
        border-radius: 500px;
      }

      h3 {
        margin: $marginTitle;
        font-size: 20px;
        font-weight: 400;
      }

      p {
        font-size: 1rem;
        margin: 0px 50px;
      }
    }
  }
}


// Fast acess

.fast-acess {
  text-align: center;

  h1 {
    margin: $marginTitle;
    font-size: 30px;
    font-weight: 400;

  }

  hr {
    width: 35%;
    height: 2px;
    margin: 0px 41% 0px 33%;
    background-color: $colorPrimary;
  }

  .container-fastAcess {
    display: flex;
    justify-content: space-around;
    margin: 70px;

    .box {
      width: 500px;

      img {
        width: 110px;
        border: 2px solid $colorPrimary;
        padding: 20px;
        border-radius: 500px;
      }

      h3 {
        margin: $marginTitle;
        font-size: 25px;
        font-weight: 400;

      }

      p {
        margin: $marginTitle;
        font-size: 1rem;
      }

      .btn {

        padding: 14px 25px;
        background-color: transparent;
        border: 1px solid $colorPrimary;
        border-radius: 6px;
        color: $colorPrimary;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          background-color: #28a745;
          transition: 0.7s;
          color: white;
        }

      }

    }
  }
}


@media(max-width:768px) {

  // depositions

  .depoiment {
    .container-depoiment {
      display: grid;
      margin: 27px 0px;
      text-align: center;
      grid-template-columns: auto;
    }

    .container-depoiment {
      .box {
        margin: $marginTitle;
        width: inherit;

        p {
          max-width: initial;
        }
      }
    }
  }

  .fast-acess {
    .container-fastAcess {
      display: grid;

      .box {
        margin: $marginTitle;
        width: inherit;
      }
    }
  }

}
