
        <div class="nossahistoria only-smart" data-toggle="modal" data-target="#nossa-historia-modal">
            <div class="nossa history" ><h1>NOSSA HISTÓRIA</h1></div>
      </div>
      <div class="missaos only-smart" data-toggle="modal" data-target="#missao-modal">
      <div class="nossa missao"><h1>MISSÃO</h1></div></div>

      <div class="visaos only-smart" data-toggle="modal" data-target="#visao-modal">
          <div class="nossa visao"><h1>VISÃO</h1></div></div>

    <div class="valoress only-smart" data-toggle="modal" data-target="#valores-modal">
            <div class="nossa valores"><h1>VALORES</h1></div></div>                    


<!-- Modal -->

<div id="template-texto">
    <p></p>
  </div>

<!-- Modal -->


<div class="modal fade" id="nossa-historia-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Nossa História</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                A Mário`s AutoPeças, surgiu em findos de 2006, após uma pesquisa de mercado mostrar que existia uma lacuna no setor de reposição automotiva na zona oeste do Rio de Janeiro. Os clientes desta região eram carentes de uma loja que lhes oferecesse bom atendimento, produtos de qualidade e preço justo.
                Através de parcerias com os maiores e melhores distribuidores de auto peças do Rio de Janeiro. A Mário`s, através do sistema "Just in Time", mantém um excelente estoque, regular, para as mais diversas montadoras.
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="missao-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Missão</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    Solucionar o problema dos nossos clientes, proporcionando-lhes uma esperiência agradável de compra. Nosso lema é " Aqui além de clientes fazemos amigos".
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="visao-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Visão</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        Tornar-se referência na reposição automotiva.
                </div>
              </div>
            </div>
          </div>
  
          <div class="modal fade" id="valores-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Valores</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                            Atendimento:   Oferecer o melhor atendimento possível aos nossos clientes, tendo como foco a busca de solução de seu problema.
                            
                            Transparência:   Lidar com todos de forma clara e objetiva.
                            
                            Comprometimento:   Cumprir com tudo que é combinado e com seus deveres perante os diversos públicos (clientes, colaboradores, fornecedores e instituições públicas). 
                            
                    </div>
                  </div>
                </div>
              </div>


               

<div class="nossahistoria only-desktop">
    <div class="nossa history"><h1>NOSSA HISTÓRIA</h1></div>
</div>

<section class="quemsomos">   
    <div  class="mario"> <p id="texto-HMarios">       A Mário`s AutoPeças, surgiu em findos de 2006, após uma pesquisa de mercado mostrar que existia uma lacuna no setor de reposição automotiva na zona oeste do Rio de Janeiro. Os clientes desta região eram carentes de uma loja que lhes oferecesse bom atendimento, produtos de qualidade e preço justo.
            Através de parcerias com os maiores e melhores distribuidores de auto peças do Rio de Janeiro. A Mário`s, através do sistema "Just in Time", mantém um excelente estoque, regular, para as mais diversas montadoras.</p>
        <div class="row"></div>
           <div class="col-md-4"></div>
               <div class="bloco-mario"></div>
    </div>
</section>


<ul class="blocos">
    <li class="missao btnHistoria only-desktop">
      HISTORIA  </li>
      <li class="missao btnMissao only-desktop">
          MISSÃO  </li>
  
      <li class="visao btnVisao">
          VISÃO
  
  
      </li>
      <li class="valores btnValores">
          VALORES
          
      </li>
  
  </ul>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"></script>
