<footer>
  <section class="footer">
    <div class="socialNetworks">
      <p>{{lang.socialNetwork}}</p>
      <!-- <hr> -->
      <img src="../../../assets/media/facebook.svg" alt="">
    </div>
    <div class="fast-acess-Footer">
      <p>{{lang.quickAccess}}</p>
      <!-- <hr> -->
      <p>{{lang.home}}</p>
      <p>{{lang.whoWeAre}}</p>
      <p>{{lang.products}}</p>
      <p>{{lang.contact}}</p>

    </div>
    <div class="contats">
      <p>{{lang.contact}}</p>
      <!-- <hr> -->
      <p><img src="../../../assets/media/home.svg" alt="">{{lang.address}}</p>
      <p><img src="../../../assets/media/email.svg" alt="">{{lang.email}}</p>
      <p><img src="../../../assets/media/phone.svg" alt="">{{lang.phoneOne}}</p>
      <p><img src="../../../assets/media/phone.svg" alt=""> {{lang.phoneTwo}}</p>
      <p><img src="../../../assets/media/whatsapp.svg" alt=""> {{lang.whatsappOne}}</p>
      <p><img src="../../../assets/media/whatsapp.svg" alt="">{{lang.whatsappTwo}}</p>
      <p><img src="../../../assets/media/whatsapp.svg" alt="">{{lang.whatsappThree}}</p>
    </div>
    <div class="pagaments">
      <p>{{lang.payment}}</p>
      <!-- <hr> -->
      <div class="img-payment">
      <img src="../../../assets/media/mastercard.svg" alt="">
      <img src="../../../assets/media/mastercard.svg" alt="">
      <img src="../../../assets/media/mastercard.svg" alt="">
      <img src="../../../assets/media/mastercard.svg" alt="">
    </div>
    </div>
  </section>
</footer>
