/* You can add global styles to this file, and also 
import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900');
@import './app/theme/colors.scss';

* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  background-color: white;
  width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color:$colorPrimary; 
    border-radius: 10px;
}

p,h1,h2,h3{
    font-family: roboto;
}
p,h1,h2,h3,img:focus{
    outline: none;
}